* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
*::before, *::after {
    box-sizing: border-box;
}
/*--------------------------------Main Container-------------------------------- */
#dashboardContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 12rem 1fr;
    height: 100vh;
    width: 100vw;
}
/*--------------------------------three main sections--------------------------------*/
#navPanel {
    grid-row: 1 / -1;
}
#topPanel {
    grid-column: 2 /-1;
    grid-row: 1 / 2;
    box-shadow: 0 4px 2px -2px gray;
    border-bottom: 2px solid #292524;
    padding-top: 1%;
}
#main {
    grid-column: 2 /-1;
    grid-row: 2/-1;
    height: 100%;
    background-color: ;
}
/*--------------------------------NAV PANEL--------------------------------*/
.navPanel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    margin: 0 1rem;
    color:#fef2f2;
    font-weight: 600;
    padding-bottom: .4rem;
}
#navPanelContainer {
    height: 100vh;
    background-color: #dc2626;
    padding-top: .8rem;
}
.navPanel img {
    height: clamp(1rem, 1.8rem, 2.2rem);
    filter: brightness(0) invert(1);
}
#homeContainer, #settingsContainer {
    margin-top: 3rem;
}
#dashboardLogo img {
    height: clamp(1.8rem, 2.4rem, 2.5rem);  
}
#dashboardLogo {
    gap: 2.5rem; 
    font-weight:800;
    font-size: 1.3rem;
}
/*--------------------------------TOP PANEL--------------------------------*/

#topPanelTopRowContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*--------------------------------Top Panel Left Side-------------------------------- */
#searchContainer {
    display: flex;
    max-height: 15%;
    width: 60%;
    padding-left: 2%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#searchContainer img {
    height: clamp(1rem, 1.5rem, 1.5rem);
}
#searchContainer input {
    outline: none;
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    text-align: left;
    background-color: #fecaca;
    border: 0;
    padding: 0;
    margin: 0;
}
/* --------------------------------Top Panel Right Side-------------------------------- */ 
#rightContainerTopPanel {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-right: 2%;
}
#topProfile {
    height: clamp(1rem, 1.5rem, 1.5rem);
}
#userProfilePic {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

#userProfileName {
    font-weight: 600;
    color: black;
}
/*--------------------------------Top Panel Bottom-------------------------------- */
#topPanelBottomContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    position: relative;
    align-items: center;
}
/*--------------------------------TP Bottom Left-------------------------------- */
#tpBottomUserProfilePic {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 50%;
}
#tpBottomLeftContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}
#tpBottomTextContainer {
    display: flex;
    flex-direction: column;
}
#tpBottomHello {
    font-size: .9rem;
    font-weight: 500;
}
#tpBottomUsername {
    font-size: 1.3rem;
    font-weight: 600;
}

/*--------------------------------TP BOTTOM RIGHT-------------------------------- */
#tpBottomRightContainer {
    display: flex;
    gap: 1.6rem;
}
.tpButton {
    height: 2.5rem;
    width: 7rem;
    border-radius: 15px;
    border: 0;
    background-color: #ef4444;
    color: #fef2f2;
    font-weight: 600;
}

/*--------------------------------CARD SECTION--------------------------------*/

#cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr .75fr;
    height: calc(100% - 2rem); 
    padding: 1rem 2rem 1rem 1rem;
    box-sizing: border-box;
    gap: 1rem;
}
.card {
    display: grid;
    grid-template-columns: .5fr repeat(7, 1fr);
    grid-template-rows: .25fr 1fr 1fr 1fr .25fr; 
    box-sizing: border-box;
    background-color: white;
    border-left: 8px solid #991b1b;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cardTitle {
   grid-row: 1 / 1;
   grid-column: 1 / 9; 
   padding-top: 1rem;
   padding-left: 1.5rem;
}
.cardContent {
    grid-row: 2 / 5;
    grid-column: 1 / 9;
    padding: 0.5rem 1.5rem; 
    overflow: auto; 
}
.cardIcon img {
    height: 1.5rem; 
    width: auto;
}
.cardIcon {
    display: flex;
    justify-content: center;
}

.cardIconContainer {
    padding: 0 1rem 1rem 0;
}
.announcements {
    grid-column: 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    flex-grow: 1;
    height: 100%;
    text-wrap: pretty;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
.announcementsGrouped {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 1.5rem;
}
.announcements hr {
    width: 90%;
    color: black;
}
.trending {
    grid-column: 3;
    grid-row: 3 / 6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
.cardIconContainer {
    grid-column: 1 / -1;
    grid-row: 5;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}
/*TRENDING*/
.trending {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
        
 }
 .trendingTrioHolder {
     display: flex;
     margin: 1rem;
     gap: 1rem;
     align-items: center;
     margin-left: 1.5rem;
     
     
 }
 .trendingText {
     display:flex;
     flex-direction: column;
     gap:.3rem;
 }
 .trendingImg {
     height: 4rem;
     width: 4rem;
     object-fit: cover;
     border-radius: 50%;
 }
 .trendingAt {
     font-size: 1rem;
 }
 .trendingProjectName {
     font-size: .9rem;
 }
/*CARD POSITIONING*/
#card1 {
    grid-column: 1;
    grid-row: 1 / 2;
}
#card2 {
    grid-column: 2;
    grid-row: 1 / 2;
}
#card3 {
    grid-column: 1;
    grid-row: 2 / 4;
}
#card4 {
    grid-column: 2;
    grid-row: 2 / 4;
}
#card5 {
    grid-column: 1;
    grid-row: 4 / 6;
}
#card6 {
    grid-column: 2;
    grid-row: 4 / 6;
}



