* { 
    margin: 0;
    padding: 0;

}
#dashboardContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:  10rem repeat(5, 1fr);
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
}
#navPanel, #topPanel, #main {
    border: 1px solid black;
}
#navPanel {
    grid-row: 1 / -1;
}
#topPanel {
    grid-column: 2 /-1;
    grid-row: 1 / 2;
}
#main {
    grid-column: 2 /-1;
    grid-row: 2/-1;
}

.navPanel img {
    height: clamp(1rem, 2rem, 2rem);
}
.navPanel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    margin: 0 1rem;
}
#homeContainer, #settingsContainer {
    margin-top: 3rem;
}
#navPanelContainer {
    margin-top: 1rem;
}
#dashboardLogo img {
    height: clamp(1.8rem, 2.4rem, 2.5rem);
    
}
#dashboardLogo {
    gap: 2.5rem; 
}
#topPanelTopRowContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Top Panel Left Side */
#searchContainer {
    display: flex;
    max-height: 15%;
    max-width: 60%;
    margin-top: 2%;
    margin-left: 2%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#searchContainer img {
    height: clamp(1rem, 1.5rem, 1.5rem);
}
#searchContainer input {
    outline: none;
    width: 30rem;
    height: 2rem;
    border-radius: 10px;
    text-align: left;
    background-color: aliceblue;
    border: 0;
    padding: 0;
    margin: 0;
}
/* Top Panel Right Side */ 
#rightContainerTopPanel img {
    height: clamp(1rem, 1.5rem, 1.5rem);
}
#rightContainerTopPanel {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: 2%;
}
#userProfileName {
    margin-top: 2%;
}